/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pl-list-item-label::after {
  content: " *";
  color: red;
}

.pl-list-item-upload {
  margin-top: 12px;
  border: 1px solid #e5e5ea;
  border-radius: 8px;
}

.pl-choose-bank {
  margin-left: auto;
  border: none;
  outline: none;
  width: calc(100% - 8px);
  text-align: right;
  height: 18px;
  margin-top: -40px;
  font-size: 14px;
  line-height: 18px;
  color: #636366;
}

.pl-list-item-error {
  font-size: 12px;
  position: absolute;
  bottom: -4px;
  right: 0;
}
