@import "src/styles/variables";
@import "src/styles/op/common";
@import "src/styles/op/pl-form-merchant";
@import "src/styles/op/pl-tab";
@import "src/styles/op/pl-button";

.text-area {
  width: 100%;
  border: none;
  min-height: 50px;
  font-family: $sfPro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;

  &::placeholder {
    font-family: $sfPro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: $grey-04;
  }

  .mat-form-field {
    width: 100%;
    height: 100%;
  }
}

.note-area {
  width: 100%;
  height: 230px;
  border: none;
  min-height: 50px;
  font-family: $sfPro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;

  &::placeholder {
    font-family: $sfPro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: $grey-04;
  }

  .mat-form-field {
    width: 100%;
    height: 100%;
  }
}

.note-form {
  ::ng-deep .mat-form-field-infix {
    padding-left: 16px;
  }
}

.op-text-area-label-content {
  padding-left: 16px;
}

.op-text-area-label {
  font-family: $sfPro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $grey-08;
}

.op-customer-avatar {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border-radius: 8px;
  position: relative;
  cursor: zoom-in;
  width: 100px;
  height: 100px;
  text-align: center;
  flex: none;
  overflow: hidden;

  .op-customer-avatar-img {
    width: 100px;
    height: 100px;
  }

  .op-customer-avatar-img-zoom {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}

.op-customer-name {
  .op-customer-name-content {
    font-family: $sfPro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $grey-10;
    word-break: break-word;
  }

  .op-customer-name-title {
    font-family: $sfPro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: $grey-06;
  }
}

.title {
  font-family: $sfPro;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 24px;
  color: $grey-10;
  margin-bottom: 0;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.bg-grey {
  background-color: #F7F7FC;
}

.fixed-width {
  width: 123.77px;
}

.profile-icon, .role-icon, .phone-icon, .email-icon, .note-icon, .password-icon {
  width: 20px;
  height: 20px;
  background-color: $grey-06;
}

.is-focused-icon {
  background-color: $grey-08;
}

.profile-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/profile.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/profile.svg') no-repeat center;
}

.role-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/role.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/role.svg') no-repeat center;
}

.phone-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/phone-num.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/phone-num.svg') no-repeat center;
}

.email-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/email.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/email.svg') no-repeat center;
}

.note-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/edit.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/edit.svg') no-repeat center;
}

.password-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-5/svg/password.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-5/svg/password.svg') no-repeat center;
}

.caption {
  background-color: #FAFAFA;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: $sfPro;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: $grey-10;
  box-shadow: inset 0px 1px 0px #e5e5ea;
}

.settings {
  div {
    font-family: $sfPro;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $grey-10;
  }

  p {
    font-family: $sfPro;
    font-size: 14px;
    line-height: 18px;
    color: $grey-08;
    font-weight: normal;
  }

  .current {
    color: $monex-color-00;
  }

  .logged_out {
    color: $system-color-orange;
  }
}

.heading {
  font-family: $sfPro;
  font-size: 16px;
  line-height: 18px;
  color: $grey-10;
  font-weight: 600;
  margin: 10px 0;
}

.mat-form-field-outline-start {
  width: 36px !important;
}

.no-padding-bot {
  padding: 1rem 1rem 0 1rem;
}

.action {
  padding: 0 1rem 1rem 1rem;
}

.qr-code {
  width: 300px;

  img {
    width: 100%;
  }
}

//::ng-deep .op-tab-dialog {
//  .mat-tab-body {
//    min-height: 658px !important;
//  }
//}

#logo-monex-center {
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 36px;
}

@media (max-width: 768px) {
  .op-customer-avatar {
    width: 56px;
    height: 56px;

    .op-customer-avatar-img {
      width: 56px;
      height: 56px;
    }
  }
}

@media (max-width: 360px) {
  .text-area {
    height: 70px;
    padding: 8px;
  }
}
