<div class="container-fluid">
  <div class="card op-card">
    <button class="close-btn" mat-dialog-close mat-icon-button tabindex="-1">
      <span class="sprite-group-7-close"></span>
    </button>

    <div class="card-title title">
      {{dialogTitle}}
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
        <div class="row">
          <!--  Info  -->
          <section class="col-12">
            <div class="row">

              <!-- Left Individual Info -->
              <div class="col-4 col-sm-4 col-md-4 col-lg-4  pr-2">
                <div>
                  <mat-form-field appearance="outline" class="w-100" floatLabel="never">
                    <mat-label>{{ "product_workflow.code" | translate}}</mat-label>
                    <input [placeholder]="'product_workflow.code' | translate"
                           [value]="form.controls.code.value ? form.controls.code.value : 'PW-XXX'"
                           disabled
                           matInput
                    >
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100" floatLabel="never">
                    <mat-label>{{ "product_workflow.name" | translate}}</mat-label>
                    <input (blur)="isAccountNameInputFocus = false"
                           (focus)="isAccountNameInputFocus = true"
                           [ngClass]="
                        isAccountNameInputFocus ? 'is-focused-input' : ''
                      " [placeholder]="'product_workflow.name' | translate"
                           formControlName="name"
                           autocomplete="chrome-off"
                           aria-autocomplete="none"
                           required
                           matInput
                           type="text"
                    >
                    <show-errors
                      [control]="form.controls['name']"
                      [controlLabel]="
                        'product_workflow.name' | translate
                      "
                      [hasIconPrefix]="false"
                    >
                    </show-errors>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "product_workflow.description" | translate
                      }}</mat-label>
                    <textarea
                      style="height: 80px"
                      matInput
                      class="text-area"
                      id="review"
                      name="review"
                      formControlName="description"
                      [placeholder]="'product_workflow.description' | translate"
                    ></textarea>
                    <show-errors
                      [control]="form.controls['description']"
                      [controlLabel]="
                        'product_workflow.description' | translate
                      "
                      [hasIconPrefix]="false"
                    >
                    </show-errors>
                  </mat-form-field>
                </div>

                <div>
                  <mat-checkbox formControlName="status"
                                class="example-margin">{{"product_workflow.active" | translate}}</mat-checkbox>
                </div>
              </div>

              <!-- Right Individual Info -->
              <div class="col-8 col-sm-8 col-md-8 col-lg-8 pr-2">
                <div class="row">
                  <div class="select-section d-flex justify-content-between">
                    <div class="col-5">
                      <span>{{"product_workflow.status_list" | translate}}</span>
                      <div class="box">
                        <div (click)="onClickQuestion($event, question)" *ngFor="let question of leftArr"
                             class="item w-100">
                          {{question.name}}
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="move-button d-flex flex-column justify-content-center gap-3">
                        <button
                          type="button"
                          (click)="moveToRight()"
                          mat-flat-button
                          color="accent">
                          <span> >> </span>
                        </button>
                        <button
                          color="accent"
                          type="button"
                          (click)="moveToLeft()"
                          mat-flat-button>
                          <span> << </span>
                        </button>
                      </div>
                    </div>
                    <div class="col-5">
                      <span>Danh sách được chọn</span>
                      <div class="box">
                        <div (click)="onClickChosenQuestion($event, chosenQuestion)"
                             *ngFor="let chosenQuestion of rightArr" class="item w-100">
                          {{chosenQuestion.name}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>


        <!-- Preview-->
        <div class="row mt-3">
          <div class="col-12 d-flex justify-content-center">
            <div class="preview-section w-100">
              <div class="preview-title">Xem trước luồng {{form.controls.name.value}}</div>
              <div class="w-100">
                <div class="item">
                  <div class="box green-border">Bắt đầu</div>
                </div>
                <div *ngFor="let item of rightArr" class="item">
                  <span class="arrow sprite-group-1-arrow-right"></span>
                  <div class="box">{{item.name}}</div>
                </div>
                <div class="item">
                  <span class="arrow sprite-group-1-arrow-right"></span>
                  <div class="box green-border">Kết thúc</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  Actions -->
        <div class="row mt-3">
          <div class="col-12 d-flex gap-2 justify-content-end">
            <button class="bg-grey"
                    mat-button
                    mat-dialog-close
            >
              {{ "account.info.cancel_update" | translate }}
            </button>
            <button
              type="submit"
              color="accent"
              mat-flat-button>
              <span class="sprite-group-5-save-white"></span>
              <span class="ms-1">{{ "account.info.save_update" | translate }}</span>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
