<app-base-management-layout
  (onClickBtnExport)="onClickBtnExport($event)"
  (onExpandElementChange)="onExpandElementChange($event)"
  (onFilterActionTrigger)="onFilterActionTrigger($event)"
  (onFilterChange)="onFilterFormChange($event)"
  (onPageChange)="onPageChange($event)"
  (onSortChange)="onSortChange($event)"
  (onSubmitSearchForm)="onSubmitSearchForm($event)"
  (onRefreshTrigger)="onRefreshTrigger($event)"
  [allColumns]="allColumns"
  [breadcrumbOptions]="breadcrumbOptions"
  [dataSource]="dataSource"
  [detailElementTemplate]="detailElementTemplate"
  [filterOptions]="filterOptions"
  [orderBy]="filterForm.controls.orderBy?.value"
  [pageIndex]="pageIndex"
  [pageLength]="pageLength"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [sortDirection]="filterForm.controls.sortDirection?.value"
  [tableTitle]="tableTitle"
  [totalItems]="totalItems"
  [overviewItems]="overviewItems"
  [showRefreshBtn]="true"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <app-bnpl-element
    *ngxPermissionsOnly="[
      listPermission.getListBnpl,
      listPermission.getByIdBnpl
    ]"
    (loanDetailTriggerUpdateStatus)="updateElementInfo($event)"
    (onRefreshTrigger)="onRefreshTrigger($event)"
    [loanDetail]="expandedElementLoanDetail"
    [userInfo]="expandedElementLoanDetail.customerInfo"
    class="w-100"
  ></app-bnpl-element>
</ng-template>
