<app-base-management-layout
  (onExpandElementChange)="onExpandElementChange($event)"
  (onFilterActionTrigger)="onFilterActionTrigger($event)"
  (onFilterChange)="onFilterFormChange($event)"
  (onPageChange)="onPageChange($event)"
  (onSortChange)="onSortChange($event)"
  (onSubmitSearchForm)="onSubmitSearchForm($event)"
  (onOutputAction)="onOutputAction($event)"
  (onClickBtnAdd)="onClickBtnAdd($event)"
  [allColumns]="allColumns"
  [dataSource]="dataSource"
  [breadcrumbOptions]="breadcrumbOptions"
  [detailElementTemplate]="detailElementTemplate"
  [filterOptions]="filterOptions"
  [orderBy]="filterForm.controls.orderBy?.value"
  [pageIndex]="pageIndex"
  [pageLength]="pageLength"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [sortDirection]="filterForm.controls.sortDirection?.value"
  [tableTitle]="tableTitle"
  [totalItems]="totalItems"
  [hasSelect]="hasSelect"
  [selectButtons]="selectButtons"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <!--  <app-pd-model-element-->
  <!--    [merchantInfo]="merchantInfo"-->
  <!--    class="w-100"-->
  <!--  ></app-pd-model-element>-->
</ng-template>
