<div class="container-fluid">
  <div class="row">
    <!-- Logo -->
    <article class="col-12 mb-2">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="pb-2 pt-2 ps-3 pe-3">
            <mat-panel-title>
              <div class="d-flex justify-content-between w-100">
                <p>
                  {{ "merchant.merchant_image.logo" | translate }}
                </p>
                <p class="fw-lighter">
                  {{ "merchant.merchant_image.valid_logo_text" | translate }}
                </p>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <div class="row">
              <!-- Logo  -->
              <article class="col-12">
                <app-upload-document-area
                  [id]="isViewMode ? 'logo-view' : 'logo-edit'"
                  name="logo"
                  [classes]="'p-3'"
                  [title]="'merchant.merchant_image.logo' | translate"
                  [imgSrc]="logoSrc"
                  [hiddenDeleteBtn]="hiddenDeleteBtn || isViewMode"
                  [hiddenUploadBtn]="hiddenUploadBtn || isViewMode"
                  [hiddenUpdateBtn]="isViewMode"
                  [hiddenDownloadBtn]="isCreateMode"
                  [maxSizeOfFile]="maxSizeOfFile"
                  (onChangeDocument)="
                    onChangeDocument($event, logoSrc, documentTypes.LOGO)
                  "
                ></app-upload-document-area>
              </article>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-error class="error-msg" *ngIf="shouldShowErrors(logoControl)">{{
        getErrorMessage(logoControl)
      }}</mat-error>
    </article>
  </div>

  <div class="row">
    <article>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="pb-2 pt-2 ps-3 pe-3">
            <mat-panel-title>
              <div class="d-flex justify-content-between w-100">
                <p>
                  {{ "merchant.merchant_image.images" | translate }}
                </p>
                <p class="px-2 fw-lighter">{{ imagesSrc.length || 0 }}/5</p>
                <p class="fw-lighter">
                  {{
                    "merchant.merchant_image.valid_desc_img_text" | translate
                  }}
                </p>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <div class="row">
              <article
                *ngFor="let imageSrc of imagesSrc; let i = index"
                class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3"
              >
                <app-upload-document-area
                  [id]="'image' + i"
                  name="image{{ i }}"
                  [classes]="'m-3'"
                  [title]="
                    'merchant.merchant_image.image' | translate: { i: i + 1 }
                  "
                  [imgSrc]="imageSrc"
                  [hiddenDeleteBtn]="hiddenDeleteBtn || isViewMode"
                  [hiddenUpdateBtn]="true"
                  [hiddenDownloadBtn]="isCreateMode"
                  [hiddenUploadBtn]="hiddenUploadBtn || isViewMode"
                  [maxSizeOfFile]="maxSizeOfFile"
                  (onChangeDocument)="
                    onChangeDocument($event, imageSrc, documentTypes.IMAGES, i)
                  "
                ></app-upload-document-area>
              </article>
              <article
                *ngIf="!imagesSrc || imagesSrc?.length < 5"
                class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 my-auto"
              >
                <div class="text-center m-3 d-flex" *ngIf="!isViewMode">
                  <button
                    (click)="triggerClickInsertImageInput()"
                    color="primary"
                    mat-flat-button
                    type="button"
                  >
                    <span class="sprite-group-5-add-white"></span>
                    <span class="ms-1">{{ "common.upload" | translate }}</span>
                  </button>
                  <input
                    hidden
                    id="import-merchant-files"
                    name="importMerchantFile"
                    type="file"
                    accept="image/*"
                    multiple
                    appMaxFileSize
                    appMaxFileCount
                    appImageFileOnly
                    [maxSizeOfFile]="maxSizeOfFile"
                    [maxNumberOfFile]="maxCountFile"
                    [(ngModel)]="inputFiles"
                    (change)="onChangeInputFiles($event)"
                  />
                  <!--                  <input-->
                  <!--                    type="reset"-->
                  <!--                    name="resetMerchantFile"-->
                  <!--                    [id]="'reset-merchant-files'"-->
                  <!--                    hidden-->
                  <!--                  />-->
                </div>
              </article>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-error
        class="error-msg"
        *ngIf="shouldShowErrors(descriptionImgControl)"
        >{{ getErrorMessage(descriptionImgControl) }}</mat-error
      >
    </article>
  </div>
</div>
