<div class="container-fluid">
  <div class="row p-3 justify-content-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-5">
      <ul class="pl-list">
        <li class="pl-list-item">
          <p class="pl-list-item-label">
            {{ middleColumn[0].title }}
          </p>
          <p class="pl-list-item-content highlight">
            <app-format-data
              [type]="middleColumn[0]?.type"
              [format]="middleColumn[0]?.format"
              [value]="loanDetail?.ratingInfo?.rate"
            ></app-format-data>
          </p>
        </li>

        <li class="pl-list-item">
          <p class="pl-list-item-label">
            {{ middleColumn[1].title }}
          </p>
          <div class="pl-list-item-content">
            <p *ngFor="let customerOpinion of customerOpinionsArray">
              {{ customerOpinion }}
            </p>
          </div>
        </li>

        <li class="pl-list-item other-comment-customize">
          <p class="pl-list-item-label">
            {{ middleColumn[2].title }}
          </p>
          <p class="pl-list-item-content">
            {{ customerOtherOpinion }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
