.other-comment-customize {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  .pl-list-item-content {
    text-align: left;
    padding-left: 0;
  }
}
