@import "src/styles/variables";
@import "src/styles/op/pl-button";

.filter-form-container {
  background: $white;
  height: 100%;
  position: relative;

  mat-expansion-panel-header.mat-expansion-panel-header {
    background: $alice-blue;
    &.mat-expanded {
      height: 48px;
    }
  }

  ::ng-deep .mat-expansion-indicator::after {
    margin-top: -6px;
  }
}


