/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

.brand-afiex, .brand-alpha, .brand-cmc, .brand-ego-farm, .brand-epay, .brand-hmg, .brand-tng {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/logo/brands-group/brand-group.png");
}

.brand-afiex {
  width: 192px;
  height: 128px;
  background-position: 0.240385% 0.520833%;
  background-size: 533.333%;
}

.brand-alpha {
  width: 192px;
  height: 128px;
  background-position: 23.5577% 0.520833%;
  background-size: 533.333%;
}

.brand-cmc {
  width: 192px;
  height: 128px;
  background-position: 46.8750% 0.520833%;
  background-size: 533.333%;
}

.brand-ego-farm {
  width: 192px;
  height: 128px;
  background-position: 70.1923% 0.520833%;
  background-size: 533.333%;
}

.brand-epay {
  width: 192px;
  height: 128px;
  background-position: 93.5096% 0.520833%;
  background-size: 533.333%;
}

.brand-hmg {
  width: 192px;
  height: 128px;
  background-position: 0.240385% 34.3750%;
  background-size: 533.333%;
}

.brand-tng {
  width: 192px;
  height: 128px;
  background-position: 23.5577% 34.3750%;
  background-size: 533.333%;
}
