/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

.sprite-group-7-add-blue, .sprite-group-7-close, .sprite-group-7-close-white, .sprite-group-7-copy, .sprite-group-7-dismiss, .sprite-group-7-download, .sprite-group-7-edit-gray, .sprite-group-7-edit-white, .sprite-group-7-filter, .sprite-group-7-lock-black, .sprite-group-7-mobile-icon, .sprite-group-7-pc-icon, .sprite-group-7-popup-arrow-down, .sprite-group-7-popup-arrow-left, .sprite-group-7-search-white, .sprite-group-7-sign-contract, .sprite-group-7-tick, .sprite-group-7-tick-blue, .sprite-group-7-trash, .sprite-group-7-unlock, .sprite-group-7-user-role {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/icon/group-7/group-7.png');
}

.sprite-group-7-add-blue {
  width: 20px;
  height: 20px;
  background-position: 77.9661% 0.847458%;
  background-size: 1280.00%;
}

.sprite-group-7-close {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-close-white {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-copy {
  width: 16px;
  height: 16px;
  background-position: 30.8333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-dismiss {
  width: 16px;
  height: 16px;
  background-position: 38.3333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-download {
  width: 16px;
  height: 16px;
  background-position: 45.8333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-edit-gray {
  width: 16px;
  height: 16px;
  background-position: 53.3333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-edit-white {
  width: 16px;
  height: 16px;
  background-position: 60.8333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-filter {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-lock-black {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-mobile-icon {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-pc-icon {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-popup-arrow-down {
  width: 14px;
  height: 5px;
  background-position: 70.6612% 11.1554%;
  background-size: 1828.57%;
}

.sprite-group-7-popup-arrow-left {
  width: 5px;
  height: 14px;
  background-position: 65.3386% 11.5702%;
  background-size: 5120.00%;
}

.sprite-group-7-search-white {
  width: 16px;
  height: 16px;
  background-position: 0.833333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-sign-contract {
  width: 16px;
  height: 16px;
  background-position: 8.33333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-tick {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-7-tick-blue {
  width: 20px;
  height: 20px;
  background-position: 87.2881% 0.847458%;
  background-size: 1280.00%;
}

.sprite-group-7-trash {
  width: 16px;
  height: 16px;
  background-position: 15.8333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-unlock {
  width: 16px;
  height: 16px;
  background-position: 23.3333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-7-user-role {
  width: 20px;
  height: 20px;
  background-position: 96.6102% 0.847458%;
  background-size: 1280.00%;
}
