/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

.sprite-group-1-add, .sprite-group-1-add-1, .sprite-group-1-arrow-counterclockwise, .sprite-group-1-arrow-down, .sprite-group-1-arrow-left, .sprite-group-1-arrow-right, .sprite-group-1-arrow-up, .sprite-group-1-call, .sprite-group-1-camera, .sprite-group-1-card, .sprite-group-1-chat, .sprite-group-1-checkmark, .sprite-group-1-checkmark-circle, .sprite-group-1-chevron-down, .sprite-group-1-chevron-left, .sprite-group-1-chevron-right, .sprite-group-1-chevron-up, .sprite-group-1-dismiss, .sprite-group-1-dismiss-circle, .sprite-group-1-document, .sprite-group-1-eye-hide, .sprite-group-1-eye-show, .sprite-group-1-face-id, .sprite-group-1-facebook, .sprite-group-1-faq, .sprite-group-1-fingerprint, .sprite-group-1-help, .sprite-group-1-hide-password-icon, .sprite-group-1-history, .sprite-group-1-home, .sprite-group-1-hotline, .sprite-group-1-icon-back, .sprite-group-1-icon-down, .sprite-group-1-icon-down-grey-6, .sprite-group-1-icon-right-arrow, .sprite-group-1-id-card-back, .sprite-group-1-id-card-front, .sprite-group-1-image, .sprite-group-1-image-library, .sprite-group-1-info, .sprite-group-1-linkedin, .sprite-group-1-lock, .sprite-group-1-lock-password-icon, .sprite-group-1-mail, .sprite-group-1-management, .sprite-group-1-mandatory, .sprite-group-1-mark-all-read, .sprite-group-1-menu, .sprite-group-1-news, .sprite-group-1-note, .sprite-group-1-notification, .sprite-group-1-notification-on, .sprite-group-1-phone, .sprite-group-1-profile, .sprite-group-1-protect, .sprite-group-1-search, .sprite-group-1-selfie, .sprite-group-1-send, .sprite-group-1-setting, .sprite-group-1-show-password-icon, .sprite-group-1-sign-out, .sprite-group-1-signature, .sprite-group-1-smart-phone-icon, .sprite-group-1-subtract, .sprite-group-1-ticket, .sprite-group-1-tiktok, .sprite-group-1-tranfer, .sprite-group-1-video, .sprite-group-1-warning, .sprite-group-1-x-clear-icon, .sprite-group-1-youtube, .sprite-group-1-zalo {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/icon/group-1/group-1.png');
}

.sprite-group-1-add {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-add-1 {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-arrow-counterclockwise {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-arrow-down {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-arrow-left {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-arrow-right {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-arrow-up {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-call {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-camera {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 0.862069%;
  background-size: 1066.67%;
}

.sprite-group-1-card {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-chat {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-checkmark {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-checkmark-circle {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-chevron-down {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-chevron-left {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-chevron-right {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-chevron-up {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-dismiss {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 12.0690%;
  background-size: 1066.67%;
}

.sprite-group-1-dismiss-circle {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-document {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-eye-hide {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-eye-show {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-face-id {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-facebook {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-faq {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-fingerprint {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-help {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 23.2759%;
  background-size: 1066.67%;
}

.sprite-group-1-hide-password-icon {
  width: 20px;
  height: 20px;
  background-position: 88.9831% 66.9492%;
  background-size: 1280.00%;
}

.sprite-group-1-history {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-home {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-hotline {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-icon-back {
  width: 16px;
  height: 14px;
  background-position: 98.3333% 33.0579%;
  background-size: 1600.00%;
}

.sprite-group-1-icon-down {
  width: 16px;
  height: 16px;
  background-position: 98.3333% 11.6667%;
  background-size: 1600.00%;
}

.sprite-group-1-icon-down-grey-6 {
  width: 16px;
  height: 16px;
  background-position: 98.3333% 22.5000%;
  background-size: 1600.00%;
}

.sprite-group-1-icon-right-arrow {
  width: 10px;
  height: 9px;
  background-position: 95.9350% 42.9150%;
  background-size: 2560.00%;
}

.sprite-group-1-id-card-back {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-id-card-front {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-image {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-image-library {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-info {
  width: 16px;
  height: 17px;
  background-position: 98.3333% 0.836820%;
  background-size: 1600.00%;
}

.sprite-group-1-linkedin {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-lock {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 34.4828%;
  background-size: 1066.67%;
}

.sprite-group-1-lock-password-icon {
  width: 20px;
  height: 20px;
  background-position: 98.3051% 66.9492%;
  background-size: 1280.00%;
}

.sprite-group-1-mail {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-management {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-mandatory {
  width: 9px;
  height: 9px;
  background-position: 95.5466% 47.3684%;
  background-size: 2844.44%;
}

.sprite-group-1-mark-all-read {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-menu {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-news {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-note {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-notification {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-notification-on {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-phone {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 45.6897%;
  background-size: 1066.67%;
}

.sprite-group-1-profile {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-protect {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-search {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-selfie {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-send {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-setting {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-show-password-icon {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-sign-out {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-signature {
  width: 24px;
  height: 24px;
  background-position: 90.5172% 56.8966%;
  background-size: 1066.67%;
}

.sprite-group-1-smart-phone-icon {
  width: 20px;
  height: 20px;
  background-position: 0.847458% 77.9661%;
  background-size: 1280.00%;
}

.sprite-group-1-subtract {
  width: 24px;
  height: 24px;
  background-position: 0.862069% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-ticket {
  width: 24px;
  height: 24px;
  background-position: 12.0690% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-tiktok {
  width: 24px;
  height: 24px;
  background-position: 23.2759% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-tranfer {
  width: 24px;
  height: 24px;
  background-position: 34.4828% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-video {
  width: 24px;
  height: 24px;
  background-position: 45.6897% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-warning {
  width: 24px;
  height: 24px;
  background-position: 56.8966% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-x-clear-icon {
  width: 20px;
  height: 20px;
  background-position: 10.1695% 77.9661%;
  background-size: 1280.00%;
}

.sprite-group-1-youtube {
  width: 24px;
  height: 24px;
  background-position: 68.1034% 68.1034%;
  background-size: 1066.67%;
}

.sprite-group-1-zalo {
  width: 24px;
  height: 24px;
  background-position: 79.3103% 68.1034%;
  background-size: 1066.67%;
}
