.css-sprite-disappointed-face {
  background: url("../../assets/img/icon/group-4-emotion/group-4-emotion.png") 0px -0px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.css-sprite-neutral-face {
  background: url("../../assets/img/icon/group-4-emotion/group-4-emotion.png") -48px -0px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.css-sprite-smiling-face-with-heart-eyes {
  background: url("../../assets/img/icon/group-4-emotion/group-4-emotion.png") -96px -0px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.css-sprite-smiling-face-with-smiling-eyes {
  background: url("../../assets/img/icon/group-4-emotion/group-4-emotion.png") -144px -0px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.css-sprite-weary-face {
  background: url("../../assets/img/icon/group-4-emotion/group-4-emotion.png") -192px -0px;
  width: 48px;
  height: 48px;
  display: inline-block;
}
