.sprite-group-2-add, .sprite-group-2-add-1, .sprite-group-2-arrow-counterclockwise, .sprite-group-2-arrow-down, .sprite-group-2-arrow-left, .sprite-group-2-arrow-right, .sprite-group-2-arrow-up, .sprite-group-2-call, .sprite-group-2-camera, .sprite-group-2-card, .sprite-group-2-chat, .sprite-group-2-checkmark, .sprite-group-2-checkmark-circle, .sprite-group-2-chevron-down, .sprite-group-2-chevron-left, .sprite-group-2-chevron-right, .sprite-group-2-chevron-up, .sprite-group-2-dismiss, .sprite-group-2-dismiss-circle, .sprite-group-2-document, .sprite-group-2-eye-hide, .sprite-group-2-eye-show, .sprite-group-2-face-id, .sprite-group-2-facebook, .sprite-group-2-faq, .sprite-group-2-fingerprint, .sprite-group-2-help, .sprite-group-2-history, .sprite-group-2-home, .sprite-group-2-hotline, .sprite-group-2-id-card-back, .sprite-group-2-id-card-front, .sprite-group-2-image, .sprite-group-2-image-library, .sprite-group-2-info, .sprite-group-2-linkedin, .sprite-group-2-lock, .sprite-group-2-mail, .sprite-group-2-management, .sprite-group-2-mark-all-read, .sprite-group-2-menu, .sprite-group-2-news, .sprite-group-2-note, .sprite-group-2-notification, .sprite-group-2-notification-on, .sprite-group-2-phone, .sprite-group-2-profile, .sprite-group-2-protect, .sprite-group-2-search, .sprite-group-2-selfie, .sprite-group-2-send, .sprite-group-2-setting, .sprite-group-2-sign-out, .sprite-group-2-signature, .sprite-group-2-subtract, .sprite-group-2-tag, .sprite-group-2-ticket, .sprite-group-2-tiktok, .sprite-group-2-tranfer, .sprite-group-2-video, .sprite-group-2-warning, .sprite-group-2-youtube, .sprite-group-2-zalo {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/icon/group-2/group-2.png');
}

.sprite-group-2-add {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-add-1 {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-arrow-counterclockwise {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-arrow-down {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-arrow-left {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-arrow-right {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-arrow-up {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-call {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-camera {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-card {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 0.431034%;
  background-size: 1066.67%;
}

.sprite-group-2-chat {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-checkmark {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-checkmark-circle {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-chevron-down {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-chevron-left {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-chevron-right {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-chevron-up {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-dismiss {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-dismiss-circle {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-document {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 11.2069%;
  background-size: 1066.67%;
}

.sprite-group-2-eye-hide {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-eye-show {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-face-id {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-facebook {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-faq {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-fingerprint {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-help {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-history {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-home {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-hotline {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 21.9828%;
  background-size: 1066.67%;
}

.sprite-group-2-id-card-back {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-id-card-front {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-image {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-image-library {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-info {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-linkedin {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-lock {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-mail {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-management {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-mark-all-read {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 32.7586%;
  background-size: 1066.67%;
}

.sprite-group-2-menu {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-news {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-note {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-notification {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-notification-on {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-phone {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-profile {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-protect {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-search {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-selfie {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 43.5345%;
  background-size: 1066.67%;
}

.sprite-group-2-send {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-setting {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-sign-out {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-signature {
  width: 48px;
  height: 48px;
  background-position: 32.7586% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-subtract {
  width: 48px;
  height: 48px;
  background-position: 43.5345% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-tag {
  width: 48px;
  height: 48px;
  background-position: 54.3103% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-ticket {
  width: 48px;
  height: 48px;
  background-position: 65.0862% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-tiktok {
  width: 48px;
  height: 48px;
  background-position: 75.8621% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-tranfer {
  width: 48px;
  height: 48px;
  background-position: 86.6379% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-video {
  width: 48px;
  height: 48px;
  background-position: 97.4138% 54.3103%;
  background-size: 1066.67%;
}

.sprite-group-2-warning {
  width: 48px;
  height: 48px;
  background-position: 0.431034% 65.0862%;
  background-size: 1066.67%;
}

.sprite-group-2-youtube {
  width: 48px;
  height: 48px;
  background-position: 11.2069% 65.0862%;
  background-size: 1066.67%;
}

.sprite-group-2-zalo {
  width: 48px;
  height: 48px;
  background-position: 21.9828% 65.0862%;
  background-size: 1066.67%;
}
