@import "../../../../../../styles/variables";
@import "../../../../../../styles/op/common";
@import "../../../../../../styles/op/pl-form";

.username-icon, .password-pre-icon, .clear-icon, .password-suffix-icon {
  width: 20px;
  height: 20px;
  background-color: $grey-06;
}

.username-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-1/svg/smart-phone-icon.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-1/svg/smart-phone-icon.svg') no-repeat center;
}

.password-pre-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-1/svg/lock-password-icon.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-1/svg/lock-password-icon.svg') no-repeat center;
}

.clear-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-1/svg/x-clear-icon.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-1/svg/x-clear-icon.svg') no-repeat center;
}

.password-show-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-1/svg/show-password-icon.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-1/svg/show-password-icon.svg') no-repeat center;
}

.password-hide-icon {
  -webkit-mask: url('../../../../../../assets/img/icon/group-1/svg/hide-password-icon.svg') no-repeat center;
  mask: url('../../../../../../assets/img/icon/group-1/svg/hide-password-icon.svg') no-repeat center;
}


.profile-icon, .role-icon, .phone-icon, .email-icon, .note-icon, .password-icon {
  width: 20px;
  height: 20px;
  background-color: $grey-06;
}

.is-focused-icon {
  background-color: $grey-08;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  font-family: $sfPro;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 24px;
  color: $grey-10;
}
