<div class="container-fluid">
  <div class="card op-card">
    <button class="close-btn" mat-dialog-close mat-icon-button tabindex="-1">
      <span class="sprite-group-7-close"></span>
    </button>

    <div class="card-title title">
      {{ "customer.individual_info.change_pass" | translate }}
    </div>
    <div class="card-body">
      <form
        [formGroup]="changePassForm"
        (ngSubmit)="submitForm()"
        autocomplete="off"
      >
        <div class="row">
          <!-- password -->
          <div class="col-md-12">
            <mat-form-field
              appearance="outline"
              floatLabel="never"
              class="w-100"
            >
              <mat-label>{{
                "auth.new_password" | translate
                }}</mat-label>
              <div
                class="password-pre-icon"
                matPrefix
                [ngClass]="
                  changePassForm.controls.accountPassword.value != '' ||
                  isPasswordInputFocus
                    ? 'is-focused-icon'
                    : ''
                "
              ></div>
              <input
                [type]="isPassVisible ? 'text' : 'password'"
                matInput
                formControlName="accountPassword"
                name="new_password"
                autocomplete='new-password'
                aria-autocomplete="none"
                [placeholder]="'auth.new_password' | translate"
                required
                (focus)="isPasswordInputFocus = true"
                (blur)="isPasswordInputFocus = false"
                [ngClass]="isPasswordInputFocus ? 'is-focused-input' : ''"
              />
              <button
                type="button"
                tabindex="-1"
                *ngIf="changePassForm.controls.accountPassword.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="changePassForm.controls.accountPassword.setValue('')"
                disableRipple="true"
              >
                <div class="clear-icon"></div>
              </button>
              <button
                type="button"
                tabindex="-1"
                matSuffix
                mat-icon-button
                class="support-icon"
                (click)="isPassVisible = !isPassVisible"
              >
                <div
                  class="password-suffix-icon"
                  [ngClass]="[
                    changePassForm.controls.accountPassword.value != '' ||
                    isPasswordInputFocus
                      ? 'is-focused-icon'
                      : '',
                    isPassVisible ? 'password-show-icon' : 'password-hide-icon'
                  ]"
                ></div>
              </button>
              <show-errors
                [control]="changePassForm.controls['accountPassword']"
                [controlLabel]="'auth.new_password' | translate"
                [hasIconPrefix]="true"
              >
              </show-errors>
            </mat-form-field>
          </div>

          <!-- confirm password -->
          <div class="col-md-12">
            <mat-form-field
              appearance="outline"
              floatLabel="never"
              class="w-100"
            >
              <mat-label>{{
                "auth.repeat_new_password" | translate
                }}</mat-label>
              <div
                class="password-pre-icon"
                matPrefix
                [ngClass]="
                  changePassForm.controls.confirmPassword.value != '' ||
                  isConfirmPasswordInputFocus
                    ? 'is-focused-icon'
                    : ''
                "
              ></div>
              <input
                [type]="isConfirmPassVisible ? 'text' : 'password'"
                matInput
                name="new_password"
                autocomplete='new-password'
                aria-autocomplete="none"
                formControlName="confirmPassword"
                [placeholder]="
                  'auth.repeat_new_password' | translate
                "
                required
                confirm-password-validate
                (focus)="isConfirmPasswordInputFocus = true"
                (blur)="isConfirmPasswordInputFocus = false"
                [ngClass]="
                  isConfirmPasswordInputFocus ? 'is-focused-input' : ''
                "
              />
              <button
                type="button"
                tabindex="-1"
                *ngIf="changePassForm.controls.confirmPassword.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="changePassForm.controls.confirmPassword.setValue('')"
                disableRipple="true"
              >
                <div class="clear-icon"></div>
              </button>
              <button
                type="button"
                tabindex="-1"
                matSuffix
                mat-icon-button
                class="support-icon"
                (click)="isConfirmPassVisible = !isConfirmPassVisible"
              >
                <div
                  class="password-suffix-icon"
                  [ngClass]="[
                    changePassForm.controls.confirmPassword.value != '' ||
                    isConfirmPasswordInputFocus
                      ? 'is-focused-icon'
                      : '',
                    isConfirmPassVisible
                      ? 'password-show-icon'
                      : 'password-hide-icon'
                  ]"
                ></div>
              </button>
              <show-errors
                [control]="changePassForm.controls['confirmPassword']"
                [controlLabel]="
                  'auth.repeat_new_password' | translate
                "
                [hasIconPrefix]="true"
              >
              </show-errors>
            </mat-form-field>
          </div>
        </div>

        <!--  Actions -->
        <div class="row mt-2">
          <div class="col-12 d-flex gap-2 justify-content-end">
            <button class="bg-grey" mat-button mat-dialog-close>
              {{ "account.info.cancel_update" | translate }}
            </button>
            <button type="submit" color="accent" mat-flat-button>
              <span class="sprite-group-5-save-white"></span>
              <span class="ms-1">{{
                "account.info.save_update" | translate
                }}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
