<div class="container-fluid">
  <div class="row d-flex justify-content-between py-2">
    <!--ACTION-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="d-flex justify-content-end">
        <button
          (click)="onClickDownload()"
          *ngIf="downloadable"
          color="accent"
          mat-flat-button
        >
          <span class="sprite-group-7-download"></span>
          {{ "bnpl.loan_contract.download" | translate }}
        </button>
      </div>
    </div>
  </div>

  <!--  CONTRACT VIEW-->
  <div class="row pb-3">
    <div class="col-12">
      <div
        *ngIf="loanContractFile; else haventContractFile"
        [innerHTML]="loanContractView"
        class="pdfView"
      ></div>
      <ng-template #haventContractFile>
        <div class="no-contract">
          {{ "bnpl.loan_contract.no_contract" | translate }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
