<app-base-management-layout
  (onExpandElementChange)="onExpandElementChange($event)"
  (onFilterActionTrigger)="onFilterActionTrigger($event)"
  (onFilterChange)="onFilterFormChange($event)"
  (onPageChange)="onPageChange($event)"
  (onSortChange)="onSortChange($event)"
  (onSubmitSearchForm)="onSubmitSearchForm($event)"
  (onOutputAction)="onOutputAction($event)"
  (onClickBtnAdd)="onClickBtnAdd($event)"
  (onRefreshTrigger)="onRefreshTrigger($event)"
  (onTableActionClick)="onTableActionClick($event)"
  [allColumns]="allColumns"
  [dataSource]="dataSource"
  [breadcrumbOptions]="breadcrumbOptions"
  [forceExpandElement]="expandedElementApplicationDocumentType"
  [detailElementTemplate]="detailElementTemplate"
  [filterOptions]="filterOptions"
  [orderBy]="filterForm.controls.orderBy?.value"
  [pageIndex]="pageIndex"
  [pageLength]="pageLength"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [sortDirection]="filterForm.controls.sortDirection?.value"
  [tableTitle]="tableTitle"
  [totalItems]="totalItems"
  [hasSelect]="hasSelect"
  [hasActions]="hasActions"
  [selectButtons]="selectButtons"
  [overviewItems]="overviewItems"
  [showRefreshBtn]="true"
  [actionButtons]="actionButtons"
>
</app-base-management-layout>

<ng-template #detailElementTemplate> </ng-template>
