<form
  id="verify-otp-form"
  class="form-container"
  [formGroup]="verifyOtpForm"
  #verifyOtpFormWrapper
>
  <div class="pl-signing-otp-container">
    <div class="text-center">
      <div class="sprite-group-3-phone-otp"></div>
    </div>
    <p class="pl-space-between-content type-otp-text">
      {{ "payday_loan.verify_otp.type_otp" | translate }}
    </p>

    <div class="pl-space-between-content">
      <div class="form-sm mt-2 forgot-password-otp-input">
        <div class="d-flex digit-group">
          <app-otp-input
            #plSigningOtpInput
            [inputClasses]="'pl-text-otp'"
            separator=""
            placeholder=""
            [displayStatusLine]="true"
            [numInputs]="6"
            [inputType]="'tel'"
            [shouldAutoFocus]="true"
            [value]="otpValue"
            [disabled]="disabled"
            (onChange)="handleOnChange($event)"
            (onComplete)="handleOnComplete($event)"
          >
          </app-otp-input>
        </div>
      </div>
      <div class="pl-error-otp" *ngIf="errorText">
        {{ errorText }}
      </div>
    </div>

    <ng-content select="[guide]"> </ng-content>

    <div class="pl-space-between-content resend-otp">
      <div *ngIf="!hiddenCountdown; else showResent" class="d-inline-flex">
        <div class="sprite-group-3-arrow-counterclockwise"></div>
        <span class="resend-otp-text">
          {{ "payday_loan.verify_otp.send_otp_after" | translate }}
        </span>
        <span id="signing-otp-countdown-timer" class="pl-countdown-time"
          >{{ countdownTime }}s</span
        >
      </div>
      <ng-template #showResent>
        <div class="d-inline-flex">
          <div class="sprite-group-3-arrow-counterclockwise"></div>
          <span class="resend-otp-text">
            <a
              href="javascript:void(0)"
              (click)="resendOtpClick()"
              class="resend-otp-btn"
              >{{ "payday_loan.verify_otp.resent_otp" | translate }}</a
            >
          </span>
        </div>
      </ng-template>
    </div>
    <div class="text-center pl-space-between-content" *ngIf="showSubmitButton">
      <button
        id="btn-next-form-signing-otp"
        type="submit"
        class="pl-btn btn-primary btn-next-signing-otp"
        [disabled]="disableBtnNext || disabled"
      >
        {{ "common.confirm" | translate }}
      </button>
    </div>
  </div>
</form>
