<div class="container">
  <div class="monex-op-container">
    <div class="text-center logo">
      <div class="sprite-group-3-monex-logo"></div>
    </div>
    <form [formGroup]="signInForm" class="form-container" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field
            autofilled="false"
            #username
            appearance="outline"
            floatLabel="never"
            class="w-100"
          >
            <mat-label>{{ "auth.username" | translate }}</mat-label>
            <div
              class="username-icon"
              matPrefix
              [ngClass]="
                signInForm.controls.username.value != '' ||
                isUsernameInputFocus
                  ? 'is-focused-icon'
                  : ''
              "
            ></div>
            <input
              name="username"
              autocomplete="new-password"
              required
              type="text"
              matInput
              formControlName="username"
              [placeholder]="'auth.username' | translate"
              (focus)="isUsernameInputFocus = true"
              (blur)="isUsernameInputFocus = false"
              [ngClass]="isUsernameInputFocus ? 'is-focused-input' : ''"
            />
            <button
              #clearPassword
              type="button"
              tabindex="-1"
              *ngIf="signInForm.controls.username.value"
              matSuffix
              mat-icon-button
              class="support-icon"
              aria-label="Clear"
              (click)="signInForm.controls.username.setValue('')"
              disableRipple="true"
            >
              <div class="clear-icon"></div>
            </button>
            <show-errors
              [control]="signInForm.controls['username']"
              [controlLabel]="'auth.username' | translate"
              [hasIconPrefix]="true"
            >
            </show-errors>
          </mat-form-field>
        </div>

        <div class="col-md-12" id="password-field">
          <mat-form-field
            appearance="outline"
            floatLabel="never"
            class="w-100"
            autofilled="false"
          >
            <mat-label>{{ "auth.password" | translate }}</mat-label>
            <div
              class="password-pre-icon"
              matPrefix
              [ngClass]="
                signInForm.controls.password.value != '' || isPasswordInputFocus
                  ? 'is-focused-icon'
                  : ''
              "
            ></div>
            <input
              name="password"
              autocomplete="new-password"
              aria-autocomplete="none"
              [type]="isPassVisible ? 'text' : 'password'"
              matInput
              formControlName="password"
              [placeholder]="'auth.password' | translate"
              required
              (focus)="isPasswordInputFocus = true"
              (blur)="isPasswordInputFocus = false"
              [ngClass]="isPasswordInputFocus ? 'is-focused-input' : ''"
            />
            <button
              type="button"
              *ngIf="signInForm.controls.password.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="signInForm.controls.password.setValue('')"
              disableRipple="true"
            >
              <div class="clear-icon"></div>
            </button>
            <button
              type="button"
              matSuffix
              mat-icon-button
              class="support-icon"
              (click)="isPassVisible = !isPassVisible"
            >
              <div
                class="password-suffix-icon"
                [ngClass]="[
                  signInForm.controls.password.value != '' ||
                  isPasswordInputFocus
                    ? 'is-focused-icon'
                    : '',
                  isPassVisible ? 'password-show-icon' : 'password-hide-icon'
                ]"
              ></div>
            </button>
            <show-errors
              [control]="signInForm.controls['password']"
              [controlLabel]="'auth.password' | translate"
              [hasIconPrefix]="true"
            >
            </show-errors>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <div class="action-container">
            <button (click)="onSubmit()" class="pl-btn btn-primary">
              {{ "auth.login" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
