@import "../../../../../../styles/variables";
@import "../../../../../../styles/op/pl-button";
.ekyc-upload-container {
  padding: 0;
}
.ekyc-upload-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.box-upload-img {
  ::ng-deep.mat-form-field-infix {
    padding: 0 !important;
    border: none !important;
  }
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

@media (max-width: 768px) {
  .ekyc-upload-box {
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
