<div class="container-fluid">
  <div class="card op-card">
    <button class="close-btn" mat-dialog-close mat-icon-button tabindex="-1">
      <span class="sprite-group-7-close"></span>
    </button>

    <div class="card-title title">
      {{dialogTitle}}
    </div>
    <div class="card-body">
      <div class="row">
        <!--  Info  -->
        <section class="col-12">
          <form [formGroup]="merchantGroupForm">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 pr-2">
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "merchant.merchant_dialog.group_name" | translate
                      }}</mat-label>
                    <input
                      required
                      matInput
                      [placeholder]="
                              'merchant.merchant_dialog.group_name' | translate
                            "
                      formControlName="merchantGroupName"
                    />
                    <show-errors
                      [control]="merchantGroupForm.controls['merchantGroupName']"
                      [controlLabel]="
                              'merchant.merchant_dialog.group_name' | translate
                            "
                      [hasIconPrefix]="false"
                    >
                    </show-errors>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "merchant.merchant_dialog.note" | translate
                      }}</mat-label>
                    <input
                      matInput
                      [placeholder]="
                              'merchant.merchant_dialog.note' | translate
                            "
                      formControlName="merchantGroupNote"
                    />
                    <show-errors
                      [control]="
                              merchantGroupForm.controls['merchantGroupNote']
                            "
                      [controlLabel]="
                              'merchant.merchant_dialog.note' | translate
                            "
                      [hasIconPrefix]="false"
                    >
                    </show-errors>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>

      <!--  Actions -->
      <div class="row mt-2">
        <div class="col-6">
          <button class="bg-grey w-100"
                  mat-button
                  mat-dialog-close
          >
            {{ "account.info.cancel_update" | translate }}
          </button>
        </div>
        <div class="col-6">
          <button
            class="w-100"
            color="accent"
            mat-flat-button>
            <span class="sprite-group-5-save-white"></span>
            <span class="ms-1">{{ "account.info.save_update" | translate }}</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
